.hidden {
  display: none;
}

body {
  background-image: url(../img/wallpaper-1.jpg);
  display: flex;
  align-items: stretch;
  text-align: center;
}

.container {
  
}

.card {
  background-color: rgb(180, 136, 81);
  max-width: 480px;
  align-items: center;
}

.btn {

}
